.form-group input, a, button {
    padding: 10px;
    margin-left: 10px;
}

section {
    margin-top: 80px;
}

ul.no-bullets {
    list-style-type: none
}

#footer-line {
    width: 80%;
}

.form-select, .form-input {
    width: 25%;
}

input.ng-invalid.ng-dirty.form-validation {
    background-color: pink;
}

input.ng-valid.ng-dirty.form-validation {
    background-color: greenyellow;
}

.table-standard {
    margin: 10px;
    padding: 10px;
}

.table-standard td, th {
    padding: 5px;
    margin: 5px;
    font-size: 80%;
    font-family: Serif;
}