.container
    .row
        .btn-grp
            a.btn.btn-default.dropdown-toggle(href="#/cars/create", data-toggle="dropdown") Publish a car
            a.btn.btn-default.dropdown-toggle(href="#/cars/search", data-toggle="dropdown") Search