.container(ng-controller="CarsSearchController")
    .row
        .col-lg-5
            .well.bs-component
                form.form-horizontal(name="searchCarsForm")
                    fieldset
                        legend New
                    .form-group
                        label.col-lg-3.control-label Brand
                        .col-lg-9
                            select.form-control.form-select(ng-model="options.selectedBrand", ng-change="changeBrand()", required="required")
                                option(value="")
                                option(ng-repeat="brand in brands", value="{{ brand._id }}") {{ brand.name }}
                    .form-group
                        label.col-lg-3.control-label Model
                        .col-lg-9
                            select.form-control.form-select(ng-model="options.selectedModel", required="required")
                                option(ng-repeat="model in models", value="{{ model._id }}") {{ model.name }}
                    .form-group
                        label.col-lg-3.control-label Price from:
                        .col-lg-3
                            input.form-control(ng-model="options.priceFrom", type="text")
                        label.col-lg-3.control-label Price to:
                        .col-lg-3
                            input.form-control(ng-model="options.priceTo", type="text")
                    .form-group
                        label.col-lg-3.control-label Year from:
                        .col-lg-3
                            input.form-control(ng-model="options.yearFrom", type="text")
                        label.col-lg-3.control-label Year to:
                        .col-lg-3
                            input.form-control(ng-model="options.yearTo", type="text")
                    .form-group
                        label.col-lg-3.control-label Fuel type
                        .col-lg-9
                            select.form-control.form-select(ng-model="options.fuelType")
                                option(value="")
                                option Gasoline
                                option Diesel
                                option Gas
                                option Electric
                    .form-group
                        label.col-lg-3.control-label Gearbox
                        .col-lg-9
                            select.form-control.form-select(ng-model="options.gearBox")
                                option(value="", selected="selected")
                                option Manual
                                option Auto
                    .form-group
                        .pull-left
                            input.btn.btn-primary(value="Search", ng-disabled="createAdForm.$invalid", ng-click="search(options)")
                            a.btn.btn-primary(href="#") Cancel
            .well.bs-component(ng-show="carSelected")
                .panel.panel-info
                    .panel-heading
                        h4 Information
                    .panel-body
                        div
                            label.col-lg-5.control-label Brand:
                            .form-control {{ carOnFocus.brand.name }}
                        div
                            label.col-lg-5.control-label Model:
                            .form-control {{ carOnFocus.model.name }}
                        div
                            label.col-lg-5.control-label Fuel type:
                            .form-control {{ carOnFocus.fuelType }}
                        div
                            label.col-lg-5.control-label Gearbox:
                            .form-control {{ carOnFocus.gearBox }}
                        div
                            label.col-lg-5.control-label Price:
                            .form-control {{ carOnFocus.price | currency }}
                        div
                            label.col-lg-5.control-label Year:
                            .form-control {{ carOnFocus.year }}
                        div
                            label.col-lg-5.control-label Description:
                            textarea.form-control {{ carOnFocus.additionalComment }}
                        div
                            label.col-lg-5.control-label Email:
                            .form-control {{ carOnFocus.author.email }}
                        div
                            label.col-lg-5.control-label Phone number:
                            .form-control {{ carOnFocus.author.phoneNumber }}
                        ul.list-group
                            li.list-group-item(ng-repeat="picture in carOnFocus.pictures")
                                img(src="/files/{{picture}}", width="200px")
        .col-lg-7(ng-show="searchCalled")
            h3.page-header Results:
            table.table-striped.table-standard
                tr
                    th
                        div(ng-click="changeSort('brand.name')") Brand
                            span.caret
                    th
                        div(ng-click="changeSort('model.name')") Model
                            span.caret
                    th
                        div(ng-click="changeSort('fuelType')") Fuel type
                            span.caret
                    th
                        div(ng-click="changeSort('gearBox')") Gearbox
                            span.caret
                    th
                        div(ng-click="changeSort('price')") Price
                            span.caret
                    th
                        div(ng-click="changeSort('year')") Year
                            span.caret
                    th Picture
                    th Additional comment
                tr(ng-repeat="car in cars | orderBy: sortPrefix + sortBy")
                    td {{ car.brand.name }}
                    td {{ car.model.name }}
                    td {{ car.fuelType }}
                    td {{ car.gearBox }}
                    td {{ car.price | currency}}
                    td {{ car.year }}
                    td
                        img(src="/files/{{car.pictures[0]}}", width="100px", ng-click="selectCar(car)")
                    td(colspan=3) {{ car.additionalComment | limitTo: 50 }}
                    td(ng-show="identity.isAdmin()")
                        button.btn.btn-danger.btn-sm(ng-click="deleteCar(car)") Delete

