doctype
html
    head
        title Cars online shop
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/css/site.css")
    body(ng-app="app")
        block main-content
        include mainscripts
        if !!currentUser
            script.
                window.bootstrappedUserObject = !{JSON.stringify(currentUser)}