script(type="text/javascript" src="/lib/jquery/dist/jquery.js")
script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js")
script(type="text/javascript" src="/lib/toastr/toastr.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-route/angular-route.js")
script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
script(type="text/javascript" src="/app/app.js")
script(type="text/javascript" src="/app/filters/nonempty.js")
script(type="text/javascript" src="/app/services/usersResource.js")
script(type="text/javascript" src="/app/services/auth.js")
script(type="text/javascript" src="/app/services/identity.js")
script(type="text/javascript" src="/app/services/notifier.js")
script(type="text/javascript" src="/app/services/cachedBrandsCatalogue.js")
script(type="text/javascript" src="/app/services/modelsResource.js")
script(type="text/javascript" src="/app/services/carAdsService.js")
script(type="text/javascript" src="/app/controllers/HomeCtrl.js")
script(type="text/javascript" src="/app/controllers/LoginCtrl.js")
script(type="text/javascript" src="/app/controllers/SignUpCtrl.js")
script(type="text/javascript" src="/app/controllers/UsersCtrl.js")
script(type="text/javascript" src="/app/controllers/UserProfileCtrl.js")
script(type="text/javascript" src="/app/controllers/CarAdCreateCtrl.js")
script(type="text/javascript" src="/app/controllers/CarsCtrl.js")